<div class="panel panel-primary">
  <div class="panel-heading">{{ title }}</div>
  <div class="panel-body">
    <div *ngFor="let pr of prTypeArray; let i = index;">
      <div class="forminput">
        <button class="btn btn-danger" (click)="deleteitem(i)">-</button> {{i+1}} - {{ pr.prtype }}
      </div>
    </div>
    <div class="form-inline">
      <input #pr id="pr" type="text" class="form-control" placeholder="PR Type Name">
      <button id="addbtn" [disabled]="!pr.value" class="btn btn-primary" type="button" (click)="Add(pr.value)">Add</button>
    </div>
  </div>
</div>
