<div class="container-fluid">
  <div class="container">
    <select name="" id="" (change)="onSelectRegisterItems($event.target.value)">
      <option value="0">Please select!!</option>
      <option value="1">PR TYPE</option>
      <option value="2">PR Plant</option>
      <option value="3">PR RequestBy</option>
      <option value="4">PR Supplier</option>
      <option value="5">PR Unit</option>
      <option value="6">PR Currency</option>
    </select>
  </div>
  <div class="container">
    <app-prtype *ngIf="prtype"></app-prtype>
    <app-plant *ngIf="prplant"></app-plant>
    <app-request *ngIf="prrequestby"></app-request>
    <app-suppliers *ngIf="prsuppliers"></app-suppliers>
    <app-unit *ngIf="prunit"></app-unit>
    <app-currency *ngIf="prcurrency"></app-currency>
  </div>
</div>
