<div class="panel panel-primary">
  <div class="panel-heading">{{ title }}</div>
  <div class="panel-body">
    <div *ngFor="let sup of supArray; let i = index;">
      <div class="forminput">
        <button class="btn btn-danger" (click)="deleteitem(i)">-</button> {{i+1}} - {{ sup.sp }}
      </div>
    </div>
    <div class="form-inline">
      <input #sup id="sup" type="text" class="form-control" placeholder="Supplier Name">
      <button id="addbtn" [disabled]="!sup.value" class="btn btn-primary" type="button" (click)="Add(sup.value)">Add</button>
      <p *ngIf="serviceIsValid" style="color: red;">!!! Web Service problem. Please contact administrator !!!</p>
      <p *ngIf="checkdup" style="color: red;">!!! Data input is duplicate !!!</p>
    </div>
  </div>
</div>
