<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">Purchasing Order Record</div>
    <div class="panel-body" id="panel-body">
      <div>
        <form [formGroup]="prrecordForm" (ngSubmit)="onSubmitpr()">
          <div class="container-1">
            <!-- container-1 -->

            <div class="input-group" style="margin-top: 5px;">
              <span class="input-group-addon" id="basic-prtype">PR Type :</span>
              <select #prtype class="form-control input-sm" aria-describedby="basic-prtype" id="prtype"
                tabindex="1" formControlName="pr_type">
                <option *ngFor="let type of PrTypes">{{ type.UNIT_NAME }}</option>
              </select>
            </div>
            <div class="input-group" style="margin-top: 5px;">
              <span class="input-group-addon" id="basic-plant">PR Plant :</span>
              <select #plant class="form-control input-sm" aria-describedby="basic-plant" id="plant"
                tabindex="2" formControlName="pr_plant">
                <option *ngFor="let plnat of Plants">{{ plant.UNIT_NAME }}</option>
              </select>
            </div>

            <div class="input-group" style="margin-top: 5px;">
              <span class="input-group-addon"id="basic-profitcenter">ProfitCenter
                :</span>
              <select #profit class="form-control input-sm" aria-describedby="basic-profitcenter" id="profitcenter"
                tabindex="4" formControlName="pr_profitCenter">
                <option value=""></option>
              </select>
            </div>

            <div class="input-group" style="margin-top: 5px;">
              <span class="input-group-addon" id="basic-requestby">Request
                By :</span>
              <select #requestby class="form-control input-sm" aria-describedby="basic-requestby" id="requestby"
                tabindex="5" formControlName="pr_requestby">
                <option *ngFor="let req of Requests">{{ req.UNIT_NAME }}</option>
              </select>
            </div>

          </div> <!-- container-1 -->



          <div class="container-2">
            <!-- container-2 -->
            <!-- PR Number -->
            <div class="input-group" style="margin-top: 5px;">
              <span class="input-group-addon" id="basic-prnumber">PR No.
                :</span>
              <input #prnumber id="prnumber" type="text" class="form-control input-sm"
                aria-describedby="basic-prnumber" tabindex="6" formControlName="pr_no">
            </div>

            <div class="input-group" style="margin-top: 5px;">
              <span class="input-group-addon" id="basic-suppliername">Supplier
                :</span>
              <select #suppliername class="form-control input-sm" aria-describedby="basic-suppliername" id="suppliername"
                tabindex="10" formControlName="pr_supplier">
                <option *ngFor="let supplier of Suppliers">{{ supplier.UNIT_NAME }}</option>
              </select>
            </div>

            <div class="input-group" style="margin-top: 5px;">
              <span class="input-group-addon" id="basic-prdate">PR Date:
              </span>
              <input #prdate id="prdate" type="date" class="form-control input-sm"
                aria-describedby="basic-prdate" tabindex="7" formControlName="pr_date">
            </div>

            <div class="input-group" style="margin-top: 5px;">
              <span class="input-group-addon" id="basic-prinvnumber">Inv No:</span>
              <input #invnumber id="prinvnumber" type="text" class="form-control input-sm"
                aria-describedby="basic-prinvnumber" tabindex="9" formControlName="pr_invno">
            </div>

            <!-- Dlv Date -->
            <div class="input-group" style="margin-top: 5px;">
              <span class="input-group-addon" id="basic-dlvdate">Dlv Date :
              </span>
              <input #dlvdate class="form-control input-sm" id="dlvdate" type="date"
                aria-describedby="basic-dlvdate" tabindex="8" formControlName="pr_duedate">
            </div>
            <!-- Dlv Date -->

          </div> <!-- container-2 -->

          <div class="item-container">
            <div class="button-container">
              <!-- button-container -->
              <label class="btn btn-default" for="butplus">Increase item -> <button id="butplus" class="btn btn-primary" (click)="addDetail()">+</button> </label>
              
            </div> <!-- button-container -->

            <div formArrayName="pr_detail">
              <div class="container-detail" *ngFor="let pr_detailCtrl of prrecordForm.get('pr_detail').controls; let i = index" [formGroupName]="i">
                <!-- Description -->
                <!-- <input #desc id="desc" class="form-control input-sm" type="text" style="width: 200px;"
                    aria-describedby="basic-desc" tabindex="11" placeholder="Description"> -->
                <div class="input-group" style="margin-top: 5px;">
                  <span class="input-group-addon" style="width: 100px; text-align: right;" id="basic-desc">Desc:</span>
                  <input #desc id="desc" class="form-control input-sm" type="text" style="width: 200px;"
                    aria-describedby="basic-desc" tabindex="11" formControlName="pr_desc">
                </div>

                <!-- Remark -->
                <!-- <input #prremark type="text" id="prremark" class="form-control input-sm" style="width: 200px;"
                    aria-describedby="basic-remark" tabindex="16" placeholder="Remark"> -->
                <div class="input-group" style="margin-top: 5px;">
                  <span class="input-group-addon" style="width: 100px; text-align: right;" id="basic-remark">Remark
                    :</span>
                  <input #prremark type="text" id="prremark" class="form-control input-sm" style="width: 200px;"
                    aria-describedby="basic-remark" tabindex="16" formControlName="pr_remark">
                </div>

                <!-- Quantity -->
                <!-- <input #qty id="qty" class="form-control input-sm" type="number" style="width: 60px;" maxlength="4"
                    aria-describedby="basic-qty" tabindex="12" placeholder="Qty"> -->
                <div class="input-group" style="margin-top: 5px;">
                  <span class="input-group-addon" style="width: 50px; text-align: right;" id="basic-qty">Qty:</span>
                  <input #qty id="qty" class="form-control input-sm" type="number" style="width: 60px;" maxlength="4"
                    aria-describedby="basic-qty" tabindex="12" formControlName="pr_qty">
                </div>

                <!-- Unit -->
                <div class="input-group" style="margin-top: 5px;">
                  <span class="input-group-addon" style="width: 50px; text-align: right;" id="basic-unit">Unit :
                  </span>
                  <select #unit class="form-control input-sm" aria-describedby="basic-unit" id="unit" style="width: 80px;"
                    tabindex="13" formControlName="pr_unit">
                    <option *ngFor="let unit of Units">{{ unit.UNIT_NAME }}</option>
                  </select>
                </div>

                <!-- Unit Price -->
                <!-- <input #unitprice id="unitprice" class="form-control input-sm" type="number" style="width: 100px;"
                    aria-describedby="basic-unitprice" tabindex="14" placeholder="Price"> -->
                <div class="input-group" style="margin-top: 5px;">
                  <span class="input-group-addon" style="width: 80px; text-align: right;" id="basic-unitprice">Price :</span>
                  <input #unitprice id="unitprice" class="form-control input-sm" type="number" style="width: 100px;"
                    aria-describedby="basic-unitprice" tabindex="14" formControlName="pr_price">
                </div>

                <!-- Currency -->
                <div class="input-group" style="margin-top: 5px;">
                  <span class="input-group-addon" style="width: 100px; text-align: right;" id="basic-curr">Currency
                    :</span>
                  <select #currency class="form-control input-sm" aria-describedby="basic-curr" id="curr" style="width: 80px;"
                    tabindex="15" formControlName="pr_curr">
                    <option *ngFor="let curr of Currencies">{{ curr.UNIT_NAME }}</option>
                  </select>
                  
                </div>
                <div>
                  <button id="butplus" class="btn btn-danger input-sm" (click)="addDetail()">-</button>
                </div>
                
              </div>
            </div>
          </div>
          <div class="event-container">
            <button id="savebutton" [disabled]="prrecordForm.value" class="btn btn-success">Send to Database</button>
            <button id="clearbutton" class="btn btn-danger">Clear form</button>
          </div>
        </form>
      </div>

      <hr>
      <div>

      </div>
    </div>
  </div>
</div>