<!-- <div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 com-md-offset-2">
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel" placeholder="Email Address">
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ngModel name="password" required >
      </div>
      <!-- <div class="form-group">
        <label for="number">Number</label>
        <input type="number" id="number" class="form-control" ngModel name="number" required #number="ngModel">
      </div> -->
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>
    </form>
  </div>
</div> -->


<div class="container form-body">
  <div class="panel group">
    <div class="panel panel-info">
      <div class="panel-heading">Please sign in</div>
      <div class="panel-body">
        <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="onSignin()">
          <label for="inputEmail" class="sr-only">Email Address</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" formControlName="inputEmail">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="inputPassword">
          <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!signinForm.valid">Sign in</button>
        </form>
      </div>
    </div>
  </div>

</div>
