<div class="panel panel-primary">
  <div class="panel-heading">{{ title }}</div>
  <div class="panel-body">
    <div *ngFor="let req of reqArray; let i = index;">
      <div class="forminput">
        <button class="btn btn-danger" (click)="deleteitem(i)">-</button> {{i+1}} - {{ req.requestName }}
      </div>
    </div>
    <div class="form-inline">
      <input #req id="req" type="text" class="form-control" placeholder="Request by Name">
      <button id="addbtn" [disabled]="!req.value" class="btn btn-primary" type="button" (click)="Add(req.value)">Add</button>
    </div>
  </div>
</div>
